body {
    margin: 0;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
}

#titulo {
    background: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    margin: 0;
    font-size: 30px;
}

.esconder {
    display: none !important;
}

#bannerRotarTelefono {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  #botonCerrarBanner {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 6px;
  }

main {
    width: 70%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, .7);
    display: flex;
    gap: 30px;
}

#imagen {
    width: 200px;
}

#palabra_a_adivinar {
    height: 3em;
}

#palabra_a_adivinar span {
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
    /* sin esto, por ser un elemento de línea, no tomaría el width */
}

#letras {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

#letras button {
    width: 28px;
    padding: 6px 0;
    text-align: center;
}